<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
   h1 {
    font-family: 'Russo One', sans-serif;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  div{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  table{
    font-family: 'Roboto', sans-serif;
  }
</style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Blackadder Face Recognition API</h1>
      <h3 class="text-muted">Upload a File</h3>
    </div>
    <hr/>
    <div>

      <form action="run" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
    </div>
  </div>
</body>
</html>